:root{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.App {
  text-align: center;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

/* Nav */
.Nav-container{
  display: flex;
  width: auto;
  flex-direction: row;
  height: 4%;
  background-color: #f2f2f5;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.Nav-container .Nav-icons{
  display: flex;
  flex-direction: row;
  gap: 36px;
  font-size: 0.5rem;
}
.Nav-search-profile-container{
  position: absolute; 
  right: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Nav-search{
  display: flex;
  flex-direction: row;
  gap: 14px;
  background-color: #dedee3;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.Nav-search input{
  background-color: #dedee3;
  border: none;
  font-size: 0.5rem;
  color: black;
}
.Nav-search i{
  font-size: 0.5rem;
  color: grey;
}
.Nav-profile-picture{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.dot{
  position: absolute;
  right: 0;
  top: 0;
  
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: solid 2px #fff;
}
.online{
  background-color: lime;
}
.dnd{
  background-color: red;
}


/* Icons */
.Icon-container{
  display: flex;
  flex-direction: column;
  color: #747487;
}
.Icon-container:hover{
  color: #0e71eb;
}
.Icon-container:hover > .Icon-text{
  color: #0e71eb;
}
.Icon-text{
  font-size: 0.5rem;
  margin: 0;
  color: black;
}

/* Main */

.Main{
  width: 100vw;
  height: 96%;
  display: flex;
  flex-direction: row;
}
/* Main Icons */
.Main-icons{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Icon-collection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 75px;
  grid-row-gap: 60px; 
}
.MainIcon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.MainIcon-border{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainIcon-border i{
  color: white;
  z-index: 9;
}
/* Main Schedule */

.Main-schedule{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.schedule-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 0.5px solid RGBA(239, 239, 243, 1);
}
.scheduleimage{
  border-radius: 15px 15px 0px 0px;
  opacity: 0.75;
}
.schedule-tasks-container{
  height: 350px;

}
.current-dateandtime{
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 0px;
  margin: 0;
}
.current-time{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.current-date{
  font-size: 0.6rem;
}

/* Meeting */

.Meeting-container{
  display:flex;
  flex-direction: row;
  margin-top: 35px;
  gap: 10px;
  align-items: center;
}
.Meeting-name{
  font-weight: bold;
}
.Meeting-start{
  padding: 8px 20px 8px 20px;
  border-radius: 15px;
  border: 0.5px solid RGBA(239, 239, 243, 1);
}
.Meeting-icon{
  border-radius: 10px;
  border: 0.5px solid RGBA(239, 239, 243, 1);
  padding: 10px 7px 10px 7px;
}
.complete-meeting-container{
  height: 110px;
  display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 30px; 
text-align: left;
}